<head>
    <link rel="stylesheet" type="text/css" href="dashboardexp/cererilemele/cererilemele.css">
</head>

<header>
    <div class="container">
        <h3 class="logo">Cererile mele</h3>
        <nav>
            <ul>
                <li><a ng-click="homeClick()">Home</a></li>
                <li><a ng-click="cerereNouaClick()">Cerere Noua</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
  
    <div class="cereri" ng-controller="CererileMeleCtrl">
        <h3 class="formHeader">Cereri inregistrate</h3>

        <table>
            <tr>
              <th>Data</th>
              <th>Status</th>
              <th>Cerere</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
          </table>

    </div>
</body>