<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="dashboardexp/cererilemele/cererilemele.css">
</head>

<header>
    <div class="container">
        <h3 class="logo">Cererile mele</h3>
        <nav>
            <ul>
                <li><a ng-click="homeClick()">Home</a></li>
                <li><a ng-click="cerereNouaClick()">Cerere Noua</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
  
    <div class="header_fixed" ng-controller="CererileMeleCtrl">
        
        <table>
            <thead>
                <tr>
                    <th>Tip marfa</th>
                    <th>Masa</th>
                    <th>Volum</th>
                    <th>Data plecarii</th>
                    <th>Data maxima de plecare</th>
                    <th>Locul plecarii</th>
                    <th>Data sosirii</th>
                    <th>Data maxima de sosire</th>
                    <th>Locul sosirii</th>
                    <th>Buget</th>
                </tr>
            </thead>
            <tbody ng-repeat="entry in trucksData">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tbody>
        </table>



    </div>
    <div class="modal-addCerere" ng-controller="CererileMeleCtrl">
        <button type="button" id="addCerere" name="addCerere" ng-click="openModalCerere()">Adauga cerere noua</button>
    </div>
</body>