/* FOR BAR */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background-color: #adacac;
	font-weight: 800;
}

.container {
	width: 1535px;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  padding-left: 50px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding-right: 50px;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 30px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/* FOR TABLE */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  background-color: #adacac;
}

table{
  overflow-y:scroll;
  height:500px;
  display:block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-collapse: collapse;
}

.header_fixed{
  height: 500px;
  overflow: auto;
  margin-top: 30px;
}
.header_fixed thead th{
  position: sticky;
  top: 0;
  background-color: black;
  color: #E6E7E8;
  font-size: 15px;
}

th,td{
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  font-size: 14px;
}

tr:nth-child(even){
  background-color: #cacaca;
}
tr:nth-child(odd){
  background-color: #EDEEF1;
}

::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
}

::-webkit-scrollbar-thumb{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
}

/* #addCerere {
   /* width: 30%;
  background-color: #55d6aa;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 80px; */
  margin-top: 80px;
    margin-left: 40%;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 4px;
    padding: 0;
    color: black;
    background-color: #55d6aa;
}

#addCerere:hover {
  background-color: rgba(250, 246, 246, 0.726);
}
#addCerere:active {
  background-color: rgba(250, 246, 246, 0.726);
  box-shadow: 0 4px rgb(126, 126, 126);
  transform: translateY(4px);
} */