<head>
    <link rel="stylesheet" type="text/css" href="dashboardadmin/conturi/modificaUserModal.css">
  </head>

  <body>
    <div class="modal-dialog" style="width:350px;" ng-controller="ConturiCtrl">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Modifica datele</h3>
      </div>
  
      <form ng-submit="submitModificareDate()">
          <div class="modal-body" id="modal-body">
  
            <label><b>First Name</b></label> <br>
            <input type="text" id="firstName" placeholder="First Name" ng-model="dateNoi.firstName">
            <br> <br>
  
            <label><b>Last Name</b></label> <br>
            <input type="text" id="lastName" placeholder="Last Name" ng-model="dateNoi.lastName">
            <br> <br>
  
            <label><b>Telephone</b></label> <br>
            <input type="text" pattern="^[0-9]{10}$" id="telephone" placeholder="Telephone" ng-model="dateNoi.telephone">
            <br> <br>

            <label><b>E-mail</b></label> <br>
            <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" placeholder="E-mail" ng-model="dateNoi.email">
            <br> <br>
  
          </div>
                <div class="modal-footer">
                  <input type="submit" class="btn primary-btn" value="Submit"/>
                </div>
      </form>
      <!-- <button class="btn btn-warning"  ng-click="cancel()">Cancel</button> -->
    </div>
  </body>