<head>
    <link rel="stylesheet" type="text/css" href="dashboardexp/success/success.css">
</head>

<header>
    <div class="container">
        <h3 class="logo">Success</h3>
        <nav>
            <ul>
                <li><a ng-click="homeClick()">Home</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
  
    <div class="success" ng-controller="SuccessCtrl">
        <h3 class="formHeader">Cerere inregistrata cu succes!
        </h3>
        <br> <br>
        <button type="button" name="cereriButton" id="cereriButton" ng-click="cereriButtonClick()">Cererile mele</button>
        <button type="button" name="newButton" id="newButton" ng-click="newButtonClick()">Cerere noua</button>
    </div>
</body>