<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="dashboardtrans/oferte/oferte.css">
</head>

<header>
    <div class="container">
        <h3 class="logo">Ofertele publicate de dumneavoastra</h3>
        <nav>
            <ul>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <div class="header_fixed" ng-controller="OferteTransCtrl">
        <table>
            <thead>
                <tr>
                    <th>Numar inmatriculare</th>
                    <th>Data plecarii</th>
                    <th>Locul plecarii</th>
                    <th>Data sosirii</th>
                    <th>Locul sosirii</th>
                    <th>Dimensiuni (L x l x h)</th>
                    <th>Volum</th>
                    <th>Greutate</th>
                    <th>Pret km gol</th>
                    <th>Pret km incarcat</th>
                </tr>
            </thead>
            <tbody ng-repeat="entry in offersData">
                <td>{{entry.tip_camion}}</td>
                <td>{{entry.data_plecarii}}</td>
                <td>{{entry.locul_plecarii}}</td>
                <td>{{entry.data_sosirii}}</td>
                <td>{{entry.locul_sosirii}}</td>
                <td>{{entry.lungime}} x {{entry.latime}} x {{entry.inaltime}}</td>
                <td>{{entry.volum}}</td>
                <td>{{entry.greutate}}</td>
                <td>{{entry.pret_km_gol}}</td>
                <td>{{entry.pret_km_incarcat}}</td>
            </tbody>
        </table>
    </div>

    <div class="modal-addOffer" ng-controller="OferteTransCtrl">
        <button type="button" id="addOffer" name="addOffer" ng-click="openModal()">Adauga oferta noua</button>
    </div>

</body>