<head>
    <link rel="stylesheet" type="text/css" href="login/login.css">
</head>
<body>
    <div class="login" ng-controller="LoginCtrl">
        <h3>Login Here</h3>
        <form>
            <label><b>Username</b></label> <br>
            <input type="text" id="username" placeholder="Username" ng-model="username">
            <br> <br>

            <label><b>Password</b></label> <br>
            <input type="password" id="password" placeholder="Password" ng-model="password">
            <br> <br>
        </form>
        
        <button type="button" name="login" id="login" ng-click="loginClick()">Log In</button>
        <br> <br>
            
        <label>Don't have an account?</label>
        <button type="button" name="signup" id="signup" ng-click="signupClick()">Sign Up</button>
    </div>

</body>
