<head>
  <link rel="stylesheet" type="text/css" href="/signup/signup.css">
</head>
<body>
  <div class="signup" ng-controller="SignupCtrl">
      <h3>Sign Up Here</h3>
      <form>
          <label><b>First Name</b></label> <br>
          <input type="text" id="firstName" placeholder="First Name" ng-model="firstName">
          <br> <br>

          <label><b>Last Name</b></label> <br>
          <input type="text" id="lastName" placeholder="Last Name" ng-model="lastName">
          <br> <br>

          <label><b>Telephone</b></label> <br>
          <input type="text" pattern="^[0-9]{10}$" id="telephone" placeholder="Telephone" ng-model="telephone">
          <br> <br>

          <label><b>E-mail</b></label> <br>
          <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" placeholder="E-mail" ng-model="email">
          <br> <br>

          <label><b>Username</b></label> <br>
          <input type="text" id="username" placeholder="Username" ng-model="username">
          <br> <br>

          <label><b>Password</b></label> <br>
          <input type="password" id="password" placeholder="Password" ng-model="password">
          <br> <br>

      </form>
      <button type="button" name="signupButton" id="signupButton" ng-click="signupButtonClick()">Sign Up</button>
          <br> <br>
  </div>

</body>